@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width:1000px) {
    body, html {
        background-image: linear-gradient(to bottom, #7a8d4a, #2d3a16);
    }
    div#form > p {
        font-size: 1em;
    }
    section#login {
        width: 90vw;
        height: 400px;
    }
    section#login > div#imagem {
        float: left;
        width: 32%;
        height: 100%;
    }
    section#login > div#form {
        float: right;
        width: 67%;
    }
    form > div.campo {
        transform: translateY(20px);
    }
    form > input[type=submit] {
        height: 50px;
        transform: translateY(90px);
    }
    form > a.botao {
        height: 50px;
        transform: translateY(90px);
    }
}

@media screen and (min-width:1000px) {
    body {
        background-image: linear-gradient(to bottom, #7a8d4a, #232e11);
    }
    section#login {
        width: 950px;
        height: 400px;
    }
    section#login > div#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }
    section#login > div#form {
        float: left;
        width: 60%;
        height: 100%;
    }
    div#form > h1 {
        font-size: 2em;
    }
    div#form > p {
        font-size: 1.2em;
    }
    form > div.campo {
        transform: translateY(20px);
    }
    form > input[type=submit] {
        height: 50px;
        transform: translateY(60px);
    }
    form > a.botao {
        height: 50px;
        transform: translateY(60px);
    }
    div.campo > input {
        transform: translateY(-13px);
    }

}
  