@charset "UTF-8";


/* PALETA DE CORES
    1-amarelo - queimado #E3AC6B
    2-marrom - #532201
    3-verde - #392F0D
*/ 

:root {
    --cor1: #e2dcce;
    --cor2: #532201;
    --cor3: #392F0D; 
    --cor4: #2d3a16;
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body, html {
    background-color: var(--cor4);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
   width: 100vw;
   height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* esconde fora da borda */ 

    background-color: var(--cor1);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);

    transition: width 0.4, height .4;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--cor3) url(../imagens/portaverde.jpeg.jpg) no-repeat;
    background-position: right center;
    height: 21vh;
    background-size: cover;
}
section#login > div#form {
    padding: 10px;
    display: block; 
}

div#form > h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

